mapdiv :hover {
	fill:#000;
}

#NG-AB{
	fill:darkgreen; stroke: black;
}
#NG-AD{
	fill:darkgreen; stroke: black;
}
#NG-AK{
	fill:darkgreen; stroke: black;
}
#NG-AN{
	fill:white; stroke: black;
}
#NG-BA{
	fill:white; stroke: black;
}
#NG-BE{
	fill:white; stroke: black;
}
#NG-BO{
	fill:darkgreen; stroke: black;
}
#NG-BY{
	fill:darkgreen; stroke: black;
}
#NG-CR{
	fill:white; stroke: black;
}
#NG-DE{
	fill:darkgreen; stroke: black;
}
#NG-EB{
	fill:white; stroke: black;
}
#NG-ED{
	fill:darkgreen; stroke: black;
}
#NG-EK{
	fill:darkgreen; stroke: black;
}
#NG-EN{
	fill:white; stroke: black;
}
#NG-FC{
	fill:white; stroke: black;
}
#NG-GO{
	fill:darkgreen; stroke: black;
}
#NG-IM{
	fill:darkgreen; stroke: black;
}
#NG-JI{
	fill:white; stroke: black;
}
#NG-KD{
	fill:white; stroke: black;
}
#NG-KE{
	fill:darkgreen; stroke: black;
}
#NG-KN{
	fill:white; stroke: black;
}
#NG-KO{
	fill:white; stroke: black;
}
#NG-KT{
	fill:white; stroke: black;
}
#NG-KW{
	fill:darkgreen; stroke: black;
}
#NG-LA{
	fill:darkgreen; stroke: black;
}
#NG-NA{
	fill:white; stroke: black;
}
#NG-NI{
	fill:darkgreen; stroke: black;
}
#NG-OG{
	fill:darkgreen; stroke: black;
}
#NG-ON{
	fill:darkgreen; stroke: black;
}
#NG-OS{
	fill:darkgreen; stroke: black;
}
#NG-OY{
	fill:darkgreen; stroke: black;
}
#NG-PL{
	fill:white; stroke: black;
}
#NG-RI{
	fill:darkgreen; stroke: black;
}
#NG-SO{
	fill:darkgreen; stroke: black;
}
#NG-TA{
	fill:darkgreen; stroke: black;
}
#NG-YO{ 
	fill:darkgreen; stroke: black;
}
#NG-ZA{
	fill:darkgreen; stroke: black;
}
svg{padding-left: 470px;}
h1{
	padding-left:450px}
p{
	font-size: 20px;
}
body{
	background-color:  coral;
}